html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body {
	line-height:1;
	font-size:12px;
	font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
	background:url(../style/login/login_bg_top.jpg) center 0 no-repeat;
	color:#333;
}
a {
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
	outline:none;
}
ul {list-style:none;}
em,i {display:inline-block;font-style:normal;vertical-align:middle;}
/*Common:0*/
.dis_0 {display:none!important;}
.dis_1 {display:block!important;}
.clearfix:after {
	visibility:hidden;
  	display:block;
  	font-size:0;
  	content:" ";
  	clear:both;
  	height:0;
}
.clearfix{*zoom:1;}
.aw:before,.aw:after {
	content:"";
	overflow:hidden;
	width:0;height:0;
	border-style:dashed;
	border-color:transparent;
	position:absolute;
}
.btn {
	display:block;
	text-align:center;
	box-sizing:border-box;
	font-size:0;
	background:none;
	border:none;
	padding:0;
	margin:0;
	font-family:'microsoft yahei';
}
.btn>em {font-size:14px;}
.img>img {display:block;width:100%;}
.ico {
	display:inline-block;width:24px;height:24px;
	vertical-align:middle;
	background-position:0 0;
	background-repeat:no-repeat;
	margin-right:6px;
}
.com-input {	
	display:block;
	box-sizing:border-box;
	width:100%;height:42px;line-height:42px;
	border:none;outline:none;
	padding:0 10px 0 10px;
	transition:opacity 0.3s;
	background-color:transparent;
	font-family:'microsoft yahei';
	font-size:14px;
}
.com-input::-webkit-input-placeholder {color:#bbb;}
.com-input:focus::-webkit-input-placeholder {
    transition:opacity 0.3s 0.03s ease;
    opacity:0.38;
}
textarea.com-input {height:80px;padding:10px;line-height:1.45;} 
/*ComTitle:0*/
/*com-tip:0*/
.com-tip {
	display:none;
	position:absolute;bottom:0;left:0;right:0;
	height:48px;line-height:48px;
	background-color:rgba(0,0,0,.8);
	color:#fff;
	text-align:center;
	z-index:9;
	font-size:12px;
}
.com-tip.top {top:0;bottom:auto;}
.com-tip.toast {
	top:50%;left:50%;bottom:auto;right:auto;
	width:160px;height:auto;line-height:1.2;
	min-height:32px;
	max-height:80px;
	padding:8px 8px;
	margin-top:-16px;
	margin-left:-80px;
	border-radius:4px;
}
/*com-tip:1*/
/*ComTable:0*/
.com-tb .tb-list>li,
.com-tb .tb-hd {overflow:hidden;zoom:1;}
.com-tb .tb-list {height:200px;overflow-y:auto;}
.com-tb .tb-list>li {border-bottom:1px solid #eee;}

.com-tb .tb-list>li:last-child {border:none;}
.com-tb .tb-hd {
	border:1px solid #eee;
	background-color:#f9f9f9;
}

.com-tb .tb-td {
	float:left;width:25%;
	color:#333;
	padding:12px 0px 12px 8px;
	line-height:1.25;
	word-wrap:break-word;
}
.com-tb .tb-hd .tb-td {color:#999;}
.tb-td.title {color:#999;}
/*ComTable:1*/
/*login:0*/
#bd_login {background:url(img/login_bg.jpg) center 0 no-repeat;}
#bd_login:before {
	content:"";
	width:320px;height:90px;
	position:fixed;top:0;z-index:1;
	background:url(img/guoqi.png) 0 0 no-repeat;
}
#login {
	width:360px;
	position:absolute;left:50%;top:50%;z-index:9;
	margin:-240px 0 0 -180px;
	font-size:14px;
}
#login>.title {
	height:180px;margin-bottom:8px;
	background:url(img/login_title.png) center 0 no-repeat;
}
#login>.title>h1 {display:none;}

#login>.main {	
	position: relative;
	background-color:#da3835;
	border-radius:2px;
	box-shadow:0 0 50px rgba(0,0,0,.1);
	padding:24px;
}

.frm-login {position:relative;background-color:#fff;border-radius:2px;}
.frm-login>li {position:relative;border-bottom:1px solid #eee;}
.frm-login>li:last-child {border:none;}
.frm-login>li>label {position:absolute;top:0;left:16px;height:48px;line-height:48px;color:#999;}
.frm-login + .action {margin-top:16px;}
.frm-login .com-input {padding-left:72px;height:48px;line-height:48px;}


.frm-login .ico {
	position:absolute;
	left:12px;top:12px;margin:0;
	background:url(img/login_icos.png) -24px 0 no-repeat;
	text-indent:-9999px;
}
.frm-login .ico.pwd {background-position-y:-24px;}
.frm-login .ico.code {background-position-y:-48px;}
.frm-login .ico + .com-input {padding-left:48px;}

#login .btn.submit {
	width:100%;
	height:48px;line-height:48px;
	border-radius:2px;
	font-size:0px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f2d6d6',GradientType=0 );
	background-color:#ccdceb;
	background:linear-gradient(#fff,#f2d6d6);
	box-shadow:0 2px 0 rgba(0,0,0,.15);
}
#login .btn.submit>em {font-size:16px;color:#da3835;}
/*login:1*/
/*index:0*/
#bd_index {
	background-color:#eee;
	background:#eee url(img/index_bg.jpg) center 0 no-repeat;
}
#wrapper {padding:8px;}
.i-box {overflow:hidden;zoom:1;}
.f-box {
	position:relative;
	float:left;
	min-width:240px;width:25%;
	
	padding:8px;
	
}
.f-box .chart {position:relative;height:240px;background-color:rgba(255,255,255,1);}
.f-box.big {width:50%;min-width:480px;}

.f-box.spc:before,
.f-box.spc:after{
	content:"";
	position:absolute;left:6px;bottom:6px;
	width: 24px;height:24px;
	background: url(../style/img/ico_corner.png) -48px 0 no-repeat;
}
.f-box.spc:after {
	left:auto;right:6px;
	background-position-x:-72px; 
}
.f-box.spc>.chart {
	background:none;
	border:2px solid #1897d3;
}
.f-box.spc>.chart:before,
.f-box.spc>.chart:after{
	content:"";
	position:absolute;left:-4px;top:-4px;
	width: 24px;height:24px;
	background: url(../style/img/ico_corner.png) 0 0 no-repeat;
}
.f-box.spc>.chart:after {
	left:auto;right:-4px;
	background-position-x:-24px; 
}
h1.title {text-align:center;font-size:24px;color:#fff;letter-spacing:4px;padding:18px 0 18px;}
h1.title + .main {overflow:hidden;zoom:1;}
h1.title + .main .count {float:left;width:25%;height:180px;padding:8px;}

.total-box {padding:18px!important;text-align:center;color:#fff;}
.total-box>.main {background-color:#f06;width:135px;height:135px; border-radius:100%; padding-top:48px;}
.total-box>.main>em,
.total-box>.main>label {display:block;}
.total-box>.main>em {font-size:28px;}
.total-box>.main>label {font-size:16px;margin-top:8px;color:rgba(255,255,255,.8);}

.f-box>h3 {
	position:absolute;top:20px;left:20px;z-index:1;
	font-size:14px;font-weight:400;
	color:rgba(255,255,255,.62);
}

.chart h3 {padding:10px 10px 4px;color:rgba(255,255,255,.62);font-weight:400;font-size:14px;}
.chart .com-tb {padding:10px;}
.chart .com-tb .tb-list {height:160px;}
.chart .com-tb .tb-list>li {border-bottom:1px solid rgba(255,255,255,.2);}
.chart .com-tb .tb-list>li:last-child {border:none;}
.chart .com-tb .tb-hd {background-color:rgba(24,151,211,.62);border:none;border-radius:2px;}
.chart .com-tb .tb-td {padding:8px 0 8px 8px;color:rgba(255,255,255,.62);}
.chart .com-tb .tb-hd .tb-td {color:rgba(255,255,255,.38);}
/*index:1*/
